body {
  padding-top: 30px;
}

.nav li a {
  font-size: 18px;
  font-weight: 900;
}

.main-box {
  /*border: 1px solid #F7F7F7;*/
  padding-bottom: 100px;
}

@media (min-width: 768px) {
  .navbar-center {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
  }
}

.main-title {
  padding: 40px 15px 10px;
  text-align: center;
}

.score-faction-container {
  max-width: 270px;
  margin: auto;
  margin-bottom: 5px;
  height: 37px;
}

.score-container {
  overflow: hidden;

  max-width: 270px;
  max-height: 417px;

  margin: auto;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.table {
  margin-bottom: 0;
}

.table td {
  max-width: 115px;
  overflow: hidden
}

table a:not(.btn), .table a:not(.btn) {
  color: #FFF;
  text-decoration: none;
}

.btn-xs {
  margin-top: 5px;
}

#footer {
  margin-top: 40px;
}
