<?php

# Your server name
$server_name = "AzerothCore";

# Your server url
$server_url = "http://www.azerothcore.org/";

# Your server logo img url (optional)
$server_logo = "img/PvPstats.png";

# Your server armory url including character name param
# (set it blank if you don't have it)
$armory_url = "http://www.yourserver.org/armory/character.php?n=";

# (Optional) your server armory url including guild id param
# you can also keep "guild.php?id=" to show the PvPstats guild score, or set it blank if you don't want any link
$guild_armory_url = "guild.php?id=";

# The date PvPstats system is online from
$online_from = "01/08/2014";

# Show guilds
# 0 = don't show
# 1 = show
$show_guilds = 1;

# Your server expansion
#   0 = Classic
#   1 = The Burning Crusade
#   2 = Wrath of The Lich King
#   3 = Cataclysm
$expansion = 2;

# Connection to the database of characters (address, username, password, database, port)
# if using Docker replace "127.0.0.1" with:
# - for Windows and macOS: "host.docker.internal"
# - for Linux: "172.17.0.1"
# NOTE: when using containers, make sure MySQL accepts connections from the container IP
$db = new mysqli("127.0.0.1","root","password","characters", 3306);

# Charset (you can set it blank if you want to maintain your default charset)
$charset = "utf8";

# Dates and times format
# Reference: http://php.net/manual/en/function.date.php
$date_format = "Y-m-d";
$time_format = "H:i:s";

# Max number of results allowed in battleground.php search
$max_results_allowed = 500;

# Show additional statistics in battleground.php page
# (guild members amount, day scores, month scores, other battlegrounds of day)
#   0 = don't show
#   1 = show
$additional_statistics = 1;

# Debug
#   0 = Debug mode disabled
#   1 = Debug mode enabled
$debug = 0;

if (mysqli_connect_error())
  die('Connect Error (' . mysqli_connect_errno() . ') '
      . mysqli_connect_error());

if (isset($charset) || $charset == "")
  $db->set_charset($charset);

if ($expansion < 0 || $expansion > 3)
  die("Wrong value provided for expansion parameter. Please config your expansion.");

if ($debug != 0)
{
  ini_set('display_errors', 1);
  ini_set('display_startup_errors', 1);
  error_reporting(-1);
}

?>
