version: "3.7"
services:
  pvpstats:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
    # network_mode: host # use only on Linux
